:root {
    --color-bg: oklch(0.985 0.008 85);
    --color-text: oklch(0.24 0.012 85);
    --font-sans: "Schibsted Grotesk";
    --color-secondary-text: oklch(0.45 0.014 85);
    --color-btn-secondary-border: oklch(0.88 0.012 85);
    --color-btn-secondary-border-hover: oklch(0.8 0.012 85);
    --color-btn-secondary-surface-hover: oklch(0.955 0.01 85);
    --color-btn-primary-color: oklch(0.42 0.075 158);
    --color-btn-primary-bg-hover: oklch(0.36 0.075 158);
    --color-btn-primary-bg-active: oklch(0.36 0.075 158);
    --color-btn-primary-border-hover: oklch(0.36 0.075 158);
    --color-btn-primary-border-active: oklch(0.36 0.075 158);
    --font-serif: Newsreader;
    --color-tone: oklch(0.47 0.07 158);
    --color-text-lighter: oklch(0.55 0.012 85);
    --color-white: oklch(1 0 0);



    
    
}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;
}
header {
    padding: 36px 72px;
}

nav {
    display: flex;
    align-items: center;
}

.btn-outline-secondary{
     --bs-btn-color: var(--color-secondary-text);
    --bs-btn-border-color: var(--color-btn-secondary-border);
    --bs-btn-hover-color: var(--color-text);
    --bs-btn-hover-bg: var(--color-btn-secondary-surface-hover);
    --bs-btn-hover-border-color: var(--color-btn-secondary-border-hover);
    --bs-btn-active-color: var(--color-text);
    --bs-btn-active-bg: var(--color-bg);
    --bs-btn-active-border-color: var(--color-btn-secondary-border-hover);
}

.btn-primary{
    --bs-btn-color: var(--color-bg);
    --bs-btn-bg: var(--color-btn-primary-color);
    --bs-btn-border-color: var(--color-btn-primary-color);
    --bs-btn-active-color: var(--color-bg);
    --bs-btn-active-bg: var(--color-btn-primary-bg-active);
    --bs-btn-active-border-color: var(--color-btn-primary-border-active);
    --bs-btn-hover-bg: var(--color-btn-primary-bg-hover);
    --bs-btn-hover-color: var(--color-bg);
    --bs-btn-hover-border-color: var(--color-btn-primary-border-hover);

}

.title-italics{
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 400;
    color: var(--color-tone);
    
}

footer{
    text-align: center;
}
