:root {
    --color-bg: oklch(0.985 0.008 85);
    --color-text: oklch(0.24 0.012 85);
    --font-sans: "Schibsted Grotesk";
    --color-btn-secondary-text: oklch(0.45 0.014 85);
    --color-btn-secondary-border: oklch(0.88 0.012 85);
    --color-btn-secondary-border-hover: oklch(0.8 0.012 85);
    --color-btn-secondary-surface-hover: oklch(0.955 0.01 85);

}

body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px
}
header {
    padding: 36px 72px
}

nav {
    display: flex;
    align-items: center;
}

.btn-outline-secondary{
     --bs-btn-color: var(--color-btn-secondary-text);
    --bs-btn-border-color: var(--color-btn-secondary-border);
    --bs-btn-hover-color: var(--color-text);
    --bs-btn-hover-bg: var(--color-btn-secondary-surface-hover);
    --bs-btn-hover-border-color: var(--color-btn-secondary-border-hover);
    --bs-btn-active-color: var(--color-text);
    --bs-btn-active-bg: var(--color-bg);
    --bs-btn-active-border-color: var(--color-btn-secondary-border-hover);


}