.have-account{
    margin-top: 24px;
    color: var(--color-text-lighter);
}
.log-in-link{
    color: var(--color-btn-primary-color);
    text-decoration: none;
}

.log-in-link:hover{
    color: var(--color-text-back-link-hover);
    
}

.btn-primary {
    margin-top: 24px;

}
.intro-text{
    color: var(--color-text-lighter);
 }