

.login-main h1 {
    font-size: 48px;
    max-width: 16ch;
    margin: 0;
 }
 .login-main .intro-text{
    color: var(--color-text-lighter);
 }


 .login-main .btn-primary {
    margin-top: 24px;

}

 .login-main .need-account{
    margin-top: 24px;
    color: var(--color-text-lighter);
}

 .login-main .sign-up-link{
    color: var(--color-btn-primary-color);
    text-decoration: none;
}

.login-main .sign-up-link:hover{
    color: var(--color-text-back-link-hover);
    
}
