.signup-main .have-account{
    margin-top: 24px;
    color: var(--color-text-lighter);
}
.signup-main .log-in-link{
    color: var(--color-btn-primary-color);
    text-decoration: none;
}

.signup-main .log-in-link:hover{
    color: var(--color-text-back-link-hover);
    
}

.signup-main .btn-primary {
    margin-top: 24px;

}
.signup-main .intro-text{
    color: var(--color-text-lighter);
 }